
<ion-header-bar class="bar-positive">
<button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
  <h2 class="title">Artist List</h2>
  <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false"></button>
</ion-header-bar>
<div class="bar bar-subheader item-input-inset bar-light">
  <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" ng-model="query" placeholder="Search">
  </label>
</div>
<ion-content class="has-subheader">
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
    <ion-item ng-class="{'star': item.star}" ng-repeat='item in artists | filter:query' class="item-thumbnail-left item-icon-right item-text-wrap" href="#/tab/list/{{item.shortname}}">
      <img ng-src="img/{{item.shortname}}_tn.jpg" alt="{{ item.name }} Photo">
      <h2>{{item.name}}</h2>
      <h3>{{item.reknown}}</h3>
      <p>{{item.bio | limitTo: 100}}{{item.bio.length > 150 ? '&hellip;' : ''}}</p>
      <button class="button button-clear icon ion-star button-assertive" 
      ng-click="toggleStar(item)" ng-show="item.star"></button>
      <ion-option-button class="button-dark" ng-click="toggleStar(item)">
      <i class="icon ion-star"></i>
      </ion-option-button>
      <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
      </ion-delete-button>
      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>
  <!--
    The nav bar that will be updated as we navigate between views.
  -->
<!--  <ion-pane>
    <ion-header-bar class="bar-positive">
     <button class="icon ion-navicon button button-clear"></button>
      <h1 class="title">Ionic Blank Starter</h1>
     <button class="icon ion-gear-a button button-clear"></button>
    </ion-header-bar>

    <ion-tabs class="tabs-icon-top">
      <ion-tab badge="1" badge-style="badge-assertive" icon="ion-home" title="Home"></ion-tab>
      <ion-tab icon="ion-person" title="About"></ion-tab>
      <ion-tab icon="ion-calendar" title="Calendar"></ion-tab>
    </ion-tabs>

    <ion-content>
        <div class="list list-inset">
          <label class="item item-input">
              <span class="input-label">First Name</span>
            <input type="text" placeholder="Your First Name">
          </label>
           <label class="item item-input">
              <span class="input-label">Last Name</span>
            <input type="text" placeholder="Your Last Name">
          </label>

          <div class="item item-divider">I want to be a...</div>
          <div class="item item-checkbox checkbox-energized">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            <span class="input-label">Rock Star</span>
          </div>
           <div class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            <span class="input-label">Music Prodigy</span>
          </div>
          <div class="item item-checkbox checkbox-positive">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            <span class="input-label">Hollywood Star</span>
          </div>

           <div class="item item-divider">Favorite social media network</div>
           <label class="item item-radio">
              <input type="radio" name="social">
              <div class="item-content">Facebook</div>
              <i class="radio-icon ion-social-facebook"></i>
           </label>
           <label class="item item-radio">
              <input type="radio" name="social">
              <div class="item-content">Twitter</div>
              <i class="radio-icon ion-social-twitter"></i>
           </label>
           <label class="item item-radio">
              <input type="radio" name="social">
              <div class="item-content">YouTube</div>
              <i class="radio-icon ion-social-youtube"></i>
           </label>-->

           <!--<div class="item item-toggle">
             <span class="input-label">Awesomeness</span>
             <label class="toggle">
               <input type="checkbox">
               <div class="track"><div class="handle"></div></div>
             </label>
           </div>

           <div class="item-range range-positive">
            <i class="icon ion-sad-outline"></i>
            <input type="range" name="feeling" min="0" max="100" value="50">
            <i class="icon ion-happy"></i>
           </div>

           <label class="item item-input item-select">
              <div class="input-label">Favorite Pet</div>
                <select>
                  <option>Dogs</option>
                  <option>Cats</option>
                  <option>Llamas</option>
                </select>
             
           </label>

        </div>
    </ion-content>-->

    <!--<ion-content>
      <div class="list">
        <a href="#" class="item item-icon-left">
          <i class="icon ion-email"></i>
          Check mail
        </a>   
         <a href="#" class="item item-icon-left item-icon-right">
          <i class="icon ion-chatbubble-working"></i>
          Item 02
          <i class="icon ion-ionic"></i>
        </a> 
        <a href="#" class="item item-icon-left">
          <i class="icon ion-mic-a"></i>
          Item 03
          <span class="item-note">Record</span>
        </a> 
        <a href="#" class="item">
          Item 04
          <span class="badge badge-assertive">3</span>
        </a>    
        <a href="#" class="item item-button-right">
          Item 05
          <button class="button button-assertive">
             <i class="icon ion-person"></i>
          </button>
        </a>
         <a href="#" class="item item-avatar">
          <img src="http://placehold.it/100x100" alt="Avatar">
          Item 06
        </a>     
        <a href="#" class="item item-thumbnail-left">
          <img src="http://placehold.it/100x100" alt="Avatar">
          <h2>Item 07</h2>
          <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
        </a>    
        <div class="item item-divider">Headline 1</div>  
        <a href="#" class="item">Item 09</a>  
        <a href="#" class="item">Item 10</a>    
        <a href="#" class="item">Item 11</a>    
        <a href="#" class="item">Item 12</a>    
        <a href="#" class="item">Item 13</a>    
        <a href="#" class="item">Item 14</a>    
        <a href="#" class="item">Item 15</a>    
      </div>
    </ion-content>-->
     <!-- <div class="tabs tabs-positive tabs-icon-top">
        <a class="tab-item"><i class="icon ion-home"></i>Home</a>
        <a class="tab-item"><i class="icon ion-person"></i>About</a>
        <a class="tab-item"><i class="icon ion-calendar"></i>Calendar</a>
      </div> -->
    
    <!--<div class="bar bar-subheader">
    <h2 class="title">Sub Header</h2>
    </div>-->
      <!--<ion-content class="padding has-subheader">
          <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem
          Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>

          <p><button class="icon icon-right ion-ionic button button-positive">ionic</button></p>

          <div class="button-bar">
            <button class="icon ion-social-twitter button button-positive button-clear"></button>
            <button class="icon ion-social-facebook button button-positive button-clear"></button>
            <button class="icon ion-social-youtube button button-positive button-clear"></button>
          </div>

      </ion-content>

     <ion-footer-bar class="bar-positive">
      <h1 class="title">Footer</h1>
     </ion-footer-bar>-->
